<footer class="main-footer">
    <ul class="footer-links">
        <li class="pure-menu-item"><a href="http://purecss.io/" class="pure-menu-link">Google+</a></li>
        <li class="pure-menu-item"><a href="http://twitter.com/yuilibrary/" class="pure-menu-link">Facebook</a></li>
        <li class="pure-menu-item"><a href="http://github.com/pure-css/pure/" class="pure-menu-link">GitHub</a></li>
    </ul>
</footer>