<!DOCTYPE HTML>
<html lang="{{.Data.Lang}}">
<head>
    {{template "head.gohtml" .}}
</head>
<body>
<div class="wrapper">
    {{template "header.gohtml" .}}

    <article class="content">
        {{ .Content }}
    </article>
    <div class="mainad">{{template "main-ad.gohtml" .}}</div>
    <div class="sidebar">{{template "side-ad.gohtml" .}}</div>
    {{template "footer.gohtml" .}}
</div>
</body>
</html>